/*#9147FF*/
/*#772CE8 dark mode*/

.medium-zoom-overlay {
    background: var(--background) !important;
}

.cover-main {
    color: #34495e;
}

.cover-main .anchor span {
    color: inherit;
}

.cover-main {
    --accent: #6e29d7 !important;
}
