.medium-zoom-overlay {
    background: var(--background) !important;
}

.cover-main {
    z-index: 0 !important;
}


@media screen and (max-width: 768px) {
    body.ready:not(.close) .sidebar-toggle {
        background-color: rgba(110, 41, 215, 0.2);
        border-radius: 0 30px 0 0;
    }

    body.close .sidebar-toggle {
        transition: none !important;
    }
}

section.cover {
    height: auto;
    min-height: 75vh;
    padding-top: 1rem;
}

section.cover .cover-main>p:last-child a:last-child, section.cover .cover-main>p:last-child a:last-child:hover {
    color: var(--background);
}

section.cover .cover-main>p:last-child a:last-child {
    border: 2px solid transparent;
}

section.cover .cover-main>p:last-child a:last-child:hover {
    border: 2px solid var(--toogleBackground);
    opacity: 1;
    filter: brightness(var(--brightness));
}

.git-ribbon {
    z-index: 100;
    background-color: #158800;
    overflow: hidden;
    position: fixed;
    right: -3em;
    top: 1.5em;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(
            45deg
    );
    -moz-box-shadow: 0 0 1em #888;
    -webkit-box-shadow: 0 0 1em #888;
}
.git-ribbon a {
    border: 1px solid #bfffaa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
    margin: 0.05em 0 0.075em 0;
    padding: 0.5em 3.5em;
    text-align: center;
    text-decoration: none;
    /* shadow */
    text-shadow: 0 0 0.5em #444;
}

#docsify-darklight-theme {
    right: auto;
    left: 10px;
}

#main > h1:nth-child(2) {
    padding-top: 1.5rem;
}

.content {
    max-height: 100%;
    overflow-y: scroll;
}

html {
    overflow: hidden;
}

.v-calendar-daily__head {
    margin: 0
}

.v-calendar-daily__scroll-area {
    overflow: visible;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}
