---
import ThemeToggleButton from './ThemeToggleButton';
import * as CONFIG from '../../config';
import EditIcon from '../icons/edit.astro';
import ChatIcon from '../icons/chat.astro';

const editHref = CONFIG.GITHUB_EDIT_URL;
const showMoreSection = CONFIG.COMMUNITY_INVITE_URL || editHref;
---

{showMoreSection && <h2 class="heading">More</h2>}
<ul>
	{editHref && (
		<li class={`heading-link depth-2`}>
			<a class="edit-on-github" href={editHref} target="_blank">
				<EditIcon />
				<span>Edit this page</span>
			</a>
		</li>
	)}
	{CONFIG.COMMUNITY_INVITE_URL && (
		<li class={`heading-link depth-2`}>
			<a href={CONFIG.COMMUNITY_INVITE_URL} target="_blank">
				<ChatIcon />
				<span>Join us on Discord</span>
			</a>
		</li>
	)}
</ul>
<div style="margin: 2rem 0; text-align: center;">
	<ThemeToggleButton client:visible />
</div>

<style>
	.edit-on-github {
		text-decoration: none;
		font: inherit;
		color: inherit;
		font-size: 1rem;
	}
</style>
