---
const props = Astro.props;
---

<a class="button" {...props}><slot/></a>

<style>
	.button {
		display: inline-block;
		margin: 1rem 0;
		padding: 0.4rem 1rem;
		text-decoration: none;
		border-radius: 1.2rem;

		font-weight: 600;

		background-color: var(--theme-accent);
		color: var(--theme-bg);
		transition: box-shadow 0.2s, background-color 0.2s;
	}

	.button + .button {
		margin-left: 1rem;
	}

	.button:hover, .button:focus {
		text-decoration: underline;
	}

	.button:focus {
		background-color: hsl(var(--color-base-accent), 35%);
		box-shadow: 0 0 0 0.2rem hsla(var(--color-accent), 0.5);
	}

	:global(:root.theme-dark) .button:focus {
		background-color: hsl(var(--color-base-accent), 84%);
	}
</style>
